/* 为主体内容增加样式 */
body {
    background-color: rgba(227, 198, 154, 0.5);
    margin: 0;
    font-size: 100%;
}

/* 为页眉区增加样式 */
header.top {
    background-color: rgb(236, 190, 131);
    height: 108px;
    margin-left: auto;
    margin-right: auto;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}  

header.top div.headerion {
    display: inline;
    float: left;
    height: 100%;
    margin-left: 50px;
} 

header.top span {
    display: inline;
    color: rgb(167, 70, 18);  
    font-size: 40px;
    margin: 20px 10px 20px 50px;
    line-height: 100px;
    font-style: italic;
}

/* 为导航区指定样式 */
nav {
    background-color: #cb8c18;
    font-size: 17px;
}

nav ul {
	margin: 0px;
	list-style-type: none;
	padding: 20px 20px 20px 20px;
}

nav ul li {
	display: inline;
	padding: 15px 15px 20px 15px;
}

nav ul li a:link, nav ul li a:visited {
	color: #954b4b;
	border-bottom: none;
	font-weight: bold;
    text-decoration: none;
    /* 去掉超链接的下划线 */
}

/* 凝胶布局 */
/* 为内容区增加样式 */
div.inner {
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
} 

div#container_1 {
    height: 450px;
    background-color:rgb(236, 190, 131);
}

div.container_2 {
    width: 100%;
    display: block;
}

div.container_2 div.container_2_left {
    height: 300px;
    width: 50%;
    display: inline-block;
}

div.container_2 div.container_2_left .title_left {
    font-size: 20px;
    font-weight: bold;
    text-align: right;
    /* 文本右对齐 */
    display: block;
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 15px;
    margin-top: 30px;
    color: #782d2d;
}

div.container_2 div.container_2_left .paragraph_left {
    text-align: right;
    /* 文本右对齐 */
    color: #954b4b;
    padding-left: 20px;
    padding-right: 10px;
}

div.container_2 div.container_2_right {
    float: right;
    height: 250px;
    width: 50%;
}

div.container_2 div.container_2_right .title_right {
    font-size: 20px;
    font-weight: bold;
    text-align: left;
    /* 文本左对齐 */
    display: block;
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 15px;
    margin-top: 30px;
    color: #782d2d;
}

div.container_2 div.container_2_right .paragraph_right {
    text-align: left;
    /* 文本左对齐 */
    color: #954b4b;
    padding-left: 10px;
    padding-right: 10px;
}

footer {
    background-color: #cb8c18;
    color: #fff;
    text-align: center;
    padding: 15px;
    font-size: 70%;
}
